.sidebar{
    min-width: 35%;
    background-color: #ffcdbf;
    min-height: 1000px;
}

.sidebar .active{
    background-color: lightcoral;
    margin: 0;
} 

.sidebar a, .sidebar p{
    display: block;
    padding: 20px 0px 20px 20px;
    margin: 5px;
    font-size: 1.4em;
    text-decoration: none;
}

svg{
    padding-right: 10px;
}

@media screen and (min-width: 800px){
    .sidebar{
        min-width: 300px;
    }
}
