#back__link{
    background-color: #ffcdbf;
} 

.sidebar p{
    font-family: 'Fresca', sans-serif;
    background-color: lightcoral;
    margin: 0;
}

p.sidebar__error{
    background-color: #ffcdbf;
    padding: 10px;
}